body {
    font-family: 'Optima', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

h2 {
    font-size: 25 px;
    font-weight: 100;
}

.banner{
    background-color:#67e079; 
    color:#2d913c;
    padding:8px;
}

.banner .banner-img{
    height:110px; 
    float:left; 
    margin-left:8px; 
    margin-right:16px; 
    margin-top:6px;
}

.banner .banner-text{
    overflow: hidden;
}