<!DOCTYPE html>
<html>
<head>
<title>Andrew Calimlim</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        
        <div class="row m-5">
            <h1 class="display-1">Andrew Calimlim</h1>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">Navigation</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="index.html">Welcome</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about_me.html">About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="documents.html">Documents</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <hr>

            <h1>Resume</h1>
            <p>
                <a href="https://drive.google.com/file/d/1kJ1zJ7J7u9owuF9BWPHC92O10i5tkiQ6/view?usp=sharing">[Link]</a> 
                Note: The Academic Experience section is encapsulated by the Portfolio section of this website. 
            </p>
           
            <h1>References</h1>
            <p>
                <a href="https://drive.google.com/file/d/1T9LjaWGI3vz2rimbF1J0i3uOHJL048lb/view?usp=sharing">[Link]</a> 
                Note: More references can be provided upon request.

            </p>

        </div>


     </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
</body>
</html>