<!DOCTYPE html>
<html>
<head>
<title>Andrew Calimlim</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
    
        <div class="row m-5">
            <h1 class="display-1">Andrew Calimlim</h1>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">Navigation</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="welcome.html">Welcome</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about_me.html">About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="documents.html">Documents</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <hr>

        <!--
            ROLF
        -->

            <div class="col-sm">

                <h1>ROLF (2021)</h1>
                <p><small>Python (Numpy, Flask), HTML, Bootstrap 4</small></p>

                <p>
                    ROLF (Recommendation of Letterboxd Films) is a proof-of-concept recommendation
                    algorithm for Letterboxd users, a site where people can give numerical ratings 
                    to films that they have seen. It parses RSS feeds of user profiles to pull existing 
                    ratings and uses linear algebra to estimate ratings.
                </p>

                <a href="http://rolfrolf.herokuapp.com/">Website</a> | <a href="https://github.com/andrewcalimlim/letterboxd_reccs">Github</a>
            </div>

            <div class="col-sm">
                <img src="../images/films.png" class="img-responsive" width="70%" alt="5 films recommended by ROLF">
            </div>

        </div>

        <!--
            Study Buddy
        -->

        <div class="row m-5">
            <div class="col-sm">

                <h1>Study Buddy (2020)</h1>
                <p><small>Java, Group Project</small></p>

                <p>
                    Study Buddy is a proof-of-concept productivity app for Android that rewards commitment
                    to planned tasks with trust and improved mood of a virtual pet. 
                </p>
                
                <p>
                    
                    My focus was programming the virtual pet, specifically keeping track of its mood, 
                    trust level of the user, and these two pet statistics were affected by user behavior.
                     
                </p>

                <a href="https://github.com/haciim/study_buddy_2020">Github (Main)</a> 
                | <a href="https://github.com/haciim/study_buddy_2020/tree/master/app/src/main/java/studyBuddy/pet">Github (my focus)</a>
            </div>

            <div class="col-sm">
                <img src="../images/sb_1.png" class="img-responsive" width="25%" alt="Home screen of StudyBuddy with a cute dog in the center">
                <img src="../images/sb_2.png" class="img-responsive" width="25%" alt="Task beginning screen">
                <img src="../images/sb_3.png" class="img-responsive" width="25%" alt="Pet home">
            </div>

        </div>

        <!--
            Aspectum
        -->

        <div class="row m-5">
            <div class="col-sm">

                <h1>Aspectum (2019)</h1>
                <p><small>C++, Group Project</small></p>

                <p>
                    Aspectum is a proof-of-concept art installation for the Gates and Allen CS 
                    buildings at the University of Washington. Aspectum displays the noise levels of selected
                    study spaces in both buildings through diffused LED lights, measured through decibel meters
                    sent over Wi-Fi.

                </p>

                <p>
                    My focus was processing the incoming noise level readings and displaying them visually.
                    This was done via an Arduino.

                </p>

                <a href="https://github.com/allisonchou/cse441-sound/blob/master/installation_routine_final.ino">Github (My focus)</a> 
                | <a href="https://2020.uwdesignshow.com/projects/aspectum">Aspectum showcased at University of Washington!</a>
            </div>

            <div class="col-sm">
                <img src="../images/lights.png" class="img-responsive" width="100%" alt="Home screen of StudyBuddy with a cute dog in the center">
            </div>

        </div>
        
     </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
</body>
</html>